@font-face {
    font-family: Metropolis;
    src: url(/resources/fonts/Metropolis-Regular.otf);
}

@font-face {
    font-family: Mono45Headline-Reg;
    src: url(/resources/fonts/Mono45Headline-Light.ttf);
}

:root {
    --blblue: hsl(209, 100%, 36%);
    --blblue2: hsl(209, 100%, 56%);
    --blback: hsl(210, 71%, 93%);
    --blback2: hsl(210, 100%, 90%);
    --bltext: hsl(209, 100%, 13%)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: var(--blback);
    font-family: 'Metropolis', 'Trebuchet MS';
    color-scheme: dark light;
    overflow-x: hidden;
    color: var(--bltext);
    height: 100vh;
    background-color: var(--blback);
}

/* NAVBAR */
nav {
    width: 100%;
    background: linear-gradient(90deg, rgba(31, 38, 50, 1) 0%, rgba(15, 46, 69, 1) 50%, rgba(27, 50, 60, 1) 100%);
    height: 5rem;
    display: block;
    font-family: 'Mono45Headline-Reg';
    letter-spacing: 0.2rem;
    font-size: 0;
}

nav * {
    display: inline;
}

nav .nav-logo,
nav .nav-logo img {
    max-height: 4rem;
    float: left;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    margin-right: 1.5rem;
}

nav .nav-logo img {
    padding: 0.1rem;
}

nav .nav-contact {
    float: right;
    margin-top: 0.6rem;
    margin-right: 0.6rem;
}

nav .nav-link,
.ham-label a {
    display: inline-block;
    font-size: 1.8rem;
    text-align: center;
    color: var(--blback);
    text-decoration: none;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    height: 4rem;
    transition: border 0.15s ease-in-out, color 0.4s ease-in-out;
    border-bottom: 0 solid hsl(209, 100%, 76%);
}

.ham-label a {
    margin: 0;
    height: 3.5rem;
}

nav .nav-link.nav-link-active {
    border-bottom: 5px solid #005EB8;
}

nav .nav-link:hover,
.ham-label a:hover,
nav .nav-link.nav-link-active:hover {
    color: hsl(209, 100%, 76%);
    border-bottom: 5px solid hsl(209, 100%, 76%);
}

/* Hamburger Menu */
.hamburger-wrapper {
    display: none;
    z-index: 150;
}

.ham-label .menu {
    position: fixed;
    left: -15px;
    top: -15px;
    z-index: 100;
    width: 5rem;
    height: 3.8rem;
    background: #005EB8;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 0 0 #005EB8, 0 0 0 0 #005EB8;
    cursor: pointer;
    border-radius: 0 0 2.5rem 0;
}

.ham-label .hamburger {
    position: absolute;
    top: 33px;
    left: 1.9rem;
    width: 20px;
    height: 2px;
    background: var(--blback);
    display: block;
    transform-origin: center;
    transition: 0.5s ease-in-out;
    border-radius: 1px;
}

.ham-label .hamburger:after,
.ham-label .hamburger:before {
    transition: 0.5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: var(--blback);
    border-radius: 1px;
}

.ham-label hr {
    border-color: var(--blback);
}

.ham-label .hamburger:before {
    top: -8px;
}

.ham-label .hamburger:after {
    bottom: -8px;
}

.ham-label input {
    display: none;
}

.ham-label input:checked+.menu {
    box-shadow: 0 0 0 100vw hsl(209, 100%, 16%), 0 0 0 100vh hsl(209, 100%, 16%);
    border-radius: 0;
    background-color: hsl(209, 100%, 16%);
}

.ham-label input:checked+.menu .hamburger {
    transform: rotate(45deg);

}

.ham-label input:checked+.menu .hamburger:after {
    transform: rotate(90deg);
    bottom: 0;

}

.ham-label input:checked+.menu .hamburger:before {
    transform: rotate(90deg);
    top: 0;

}

.ham-label input:checked+.menu+ul {
    opacity: 1;
    pointer-events: all;
}

.ham-label ul {
    pointer-events: none;
    text-align: center;
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.25s 0s ease-in-out;
    list-style: none;
}

.hamburger-wrapper img {
    width: 90%;
    min-width: 18rem;
    margin: 1rem;
}

.hamburger-wrapper .ham-footer a {
    font-size: 1.2rem;
    color: var(--blback2);
    height: 3rem;
}

/* HOME PAGE*/
.index-banner {
    position: relative;
    width: 100%;
    text-align: center;
    padding-inline: 1%;
    padding-block: 2rem;
    background-color: hsl(209, 100%, 6%);
    min-height: 20rem;
}

.index-banner img {
    width: 90%;
    opacity: 0.1;
    padding: 3%;
}

.index-banner .scroller-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.index-banner .scroller-wrapper .scroller {
    display: flex;
    flex-direction: row;
    transform: translateX(100vw);
    animation: scroller-scroll infinite 30s ease-in-out;
}

.index-banner .scroller-wrapper .scroller .scroller-item {
    width: 80vw;
    padding-block: 0.5rem;
}

.index-banner .scroller-wrapper .scroller .scroller-item .item-holder {
    display: inline-block;
    width: 40%;
    color: var(--blback);
    padding: 2rem;
}

.index-banner .scroller-wrapper h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: var(--blback);
}

.index-banner .scroller-wrapper .scroller .scroller-item p {
    display: inline-block;
    font-size: 1.5rem;
    text-align: center;
}

@keyframes scroller-scroll {
    0% {
        transform: translateX(80vw);
    }

    20% {
        transform: translateX(80vw);
    }

    25% {
        transform: translateX(0%);
    }

    45% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-80vw);
    }

    70% {
        transform: translateX(-80vw);
    }

    75% {
        transform: translateX(0%);
    }

    95% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(80vw);
    }
}

/* CONTENT */
.left {
    float: left;
    text-align: left;
}

.right {
    float: right;
    text-align: right;
}

section {
    padding-block: 10vh;
    margin: auto;
    width: 100%;
    text-align: center;
}

section h2 {
    font-size: 3rem;
    color: var(--blblue);
}

section h3 {
    font-size: 2rem;
    color: var(--blblue);
}

section p {
    margin-inline: 2rem;
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--bltext);
    padding-top: 1rem;
}

.s-content {
    width: 70%;
    margin: auto;
}

.s-transparent {
    background-color: transparent;
}

.s-blue {
    background-color: #005EB8;
}

.s-lgrey {
    background-color: hsl(206, 15%, 80%);
}

.s-grey {
    background-color: hsl(206, 15%, 20%);
}

.s-grey p,
.s-blue p {
    color: var(--blback);
}

.s-blue h2 {
    color: var(--bltext);
}

.s-white {
    background-color: #f2f9ff;
}

.s-bluegrad {
    background: linear-gradient(90deg, rgba(31, 38, 50, 1) 0%, rgba(15, 46, 69, 1) 50%, rgba(27, 50, 60, 1) 100%);
}

/* SIDE-BY-SIDE */
.horizontal {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 100%;
}

.horizontal * {
    flex: 49%;
    text-align: center;
    height: fit-content;
    min-height: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.horizontal img,
.horizontal svg {
    vertical-align: middle;
    position: relative;
    max-width: 20rem;
    height: auto;
    min-height: 0rem;
}

.horizontal-text p,
.horizontal-text h2,
.horizontal-text h3 {
    text-align: justify;
}

.horizontal img.small-img {
    max-width: 15rem;
}

.link-btn,
.link-btn-dark {
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.8rem 2rem;
    transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
    color: var(--blback);
    background-color: rgb(0, 94, 184, 0.5);
    border: solid rgb(0, 94, 184, 1) 2px;
}

.link-btn-dark {
    color: var(--blback);
    background-color: rgba(13, 31, 49, 0.5);
    border: solid rgb(18, 42, 65) 2px;
}

.link-btn:hover {
    color: var(--blback);
    border: solid var(--blback) 2px;
    background-color: rgb(0, 94, 184, 1);
}

.link-btn-dark:hover {
    color: var(--blback);
    background-color: rgba(0, 27, 53, 1);
    border: solid var(--blback) 2px;
}

.horizontal-text .link-btn {
    transform: translateY(10rem);
}

/* FOOTER */
footer {
    bottom: 0;
    margin: auto;
    text-align: center;
    padding: 1rem;
    width: 100%;
    color: var(--blback);
    border-top: solid var(--blblue2) 2px;
    display: block;
}

footer p {
    font-size: 1rem;
    line-height: 1.4rem;
}

.sticky-footer {
    position: absolute;
}

footer a,
p a:not(.link-btn, .link-btn-dark) {
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease-in-out;
    color: var(--blblue2);
    text-decoration: none;
}

footer a::before,
p a:not(.link-btn, .link-btn-dark)::before {
    content: '';
    position: absolute;
    top: 120%;
    width: 100%;
    height: 2px;
    background-color: var(--blblue2);
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

p a:not(.link-btn, .link-btn-dark)::before {
    top: 100%;
    background-color: var(--blblue);
}

p a:not(.link-btn, .link-btn-dark):hover {
    color: var(--blblue);
}

footer a:hover::before,
p a:not(.link-btn, .link-btn-dark):hover::before {
    transform: scaleX(1);
}

footer .horizontal-text {
    max-width: 20rem;
}

footer .horizontal-text p {
    text-align: center;
}

.s-lgrey .s-content .link-btn {
    background-color: rgb(0, 94, 184, 0.7);
}

.s-lgrey .s-content .link-btn:hover {
    background-color: rgb(0, 94, 184, 1);
}

/* FLIP CARDS */
.flip-card {
    background-color: transparent;
    width: 18rem;
    height: 20rem;
    perspective: 1500px;
    display: inline-block;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.9s ease-in-out;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    align-content: center;
}

.flip-card-front {
    background-color: var(--blback2);
}

.flip-card-front img {
    height: 15rem;
    padding: 1rem;
    padding-bottom: 0.5rem;
}

.flip-card-back {
    background-color: var(--blback2);
    transform: rotateY(180deg);
}

.flip-card-back p {
    color: var(--bltext);
}


/* INDIVIDUALS */
#nessie {
    animation: bouncy-nessie 3s ease-in-out infinite;
}

@keyframes bouncy-nessie {

    40%,
    60% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-1.8rem) rotate(3deg);
    }
}

.value-card {
    vertical-align: top;
    display: inline-block;
    padding: 1rem;
    width: 30%;
}

.value-card img {
    width: 80%;
    padding: 1rem;
}

.value-card img:not(.no-anim) {
    animation: value-card-img-shake 6s infinite ease-in-out;
}

.value-card:nth-child(1) img {
    animation-delay: 0s;
}

.value-card:nth-child(2) img {
    animation-delay: 2s;
}

.value-card:nth-child(3) img {
    animation-delay: 4s;
}

.value-card .small-img {
    width: 50%;
}

.value-card a img {
    transition: transform 0.3s ease-in-out;
}

.value-card a img:hover {
    transform: scale(1.1);
}

@keyframes value-card-img-shake {

    40%,
    70% {
        transform: translateY(0) rotate(0deg);
    }

    52% {
        transform: translateY(-1.8rem) rotate(3deg);
    }

    54% {
        transform: translateY(-1.8rem) rotate(-3deg);
    }

    56% {
        transform: translateY(-1.8rem) rotate(3deg);
    }

    58% {
        transform: translateY(-1.8rem) rotate(-3deg);
    }

    60% {
        transform: translateY(-1.8rem) rotate(0deg);
    }
}

.contact-s {
    width: 100%;
}

@media only screen and (max-width: 1400px) {
    .value-card {
        width: 100%;
    }

    .value-card img {
        width: 50%;
        max-width: 20rem;
    }
}

@media only screen and (max-width: 1200px) {
    .index-banner .scroller-wrapper .scroller .scroller-item .item-holder {
        width: 80%;
    }

    .s-content {
        width: 90%;
    }
    

    .horizontal-text h2,
    .horizontal-text h3 {
        text-align: center;
    }
}

@media only screen and (max-width: 1100px) {
    .hamburger-wrapper {
        display: block;
    }

    footer {
        display: none;
    }

    nav {
        display: none;
    }

    .value-card img {
        width: 50%;
        max-width: 13rem;
    }

    .horizontal-text p {
        text-align: center;
    }
}

@media only screen and (max-width: 550px) {
    .toosmall {
        display: block;
    }

    .index-banner img {
        transform: translateY(50%);
    }

    .index-banner .scroller-wrapper .scroller .scroller-item .item-holder {
        width: 95%;
        padding: 1rem 2rem;
    }

    .index-banner .link-btn {
        padding: 0.5rem 1.3rem;
    }

    .index-banner .scroller-wrapper h2 {
        font-size: 2rem;
        text-decoration: underline 2px;
    }

    .horizontal-text p {
        text-align: center;
    }

    .horizontal img,
    .horiztontal svg {
        max-width: 15rem;
    }
}
