/* create 'Metropolis' font family */
@font-face {
    font-family: Metropolis;
    src: url(/fonts/Metropolis-Regular.otf);
}

@font-face {
    font-family: Mono45Headline-Light;
    src: url(/fonts/Mono45Headline-Light.ttf);
}

@font-face {
    font-family: Mono45Headline-Bold;
    src: url(/fonts/Mono45Headline-Bold.ttf);
}

:root {
    --background: #dadee6;
    --backgroundsecondary: #cdd4e2;
    --backgroundtertiary: #c0c6d3;
    --fontdark: #2c2c2c;
    --fontlight: #eaeaea;
}

.testing-button {
    text-align: center;
    position: relative;
    display: block;
    transition: 0.3s;
    background-color: #005EB8;
    color: var(--fontlight);
    cursor: pointer;
    border: none;
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
    font-family: Metropolis;
    text-decoration: none;
    margin-bottom: 1rem;
    width: 30%;
    font-size: 1.4rem;
}

.testing-button:hover {
    background-color: #007aed;
}

/*#region UNIVERSAL STYLING*/
html,
body {
    margin: 0;
    padding: 0;
    font-family: Metropolis;
    background-color: var(--background);
    color: var(--fontdark);
    letter-spacing: 0.07em;
    scroll-behavior: smooth;
}

#page {
    transition: 0.3s;
}

/*#region CLASSES*/
.head-content {
    padding: 0 4% 0 4%;
    text-align: left;
}

.head-content img {
    max-height: 1.6em;
    padding: 5px;
}

.subheading {
    font-size: 1.2em;
    text-align: center;
}

.content {
    padding: 0 5% 0 5%;
    text-align: center;
}

.stick {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.inline-link,
.intext-link {
    cursor: pointer;
    text-decoration: none;
    color: #005EB8;
    padding: 1px;
    border-radius: 3px;
    transition: 0.2s;
}

.inlink-text {
    text-decoration: none;
    color: var(--fontdark);
}

.intext-link {
    padding: 1px 0 1px 0;
}

.inline-link:hover,
.intext-link:hover {
    background-color: #005EB8;
    color: var(--fontlight);
}

/*#endregion*/

/*#region ELEMENT STYLING*/
p {
    font-size: 1em;
    letter-spacing: 0.05em;
    line-height: 1.2em;
}

h3 {
    padding-top: 10px;
    font-size: 1.1em;
    line-height: 0.1em;
}

h2 {
    font-size: 1.5em;
}

h1 {
    font-size: 2em;
    color: #005EB8;
}

/*#endregion*/
/*#endregion*/

/*#region SPLASH SCREEN and COOKIES*/
#splash,
#cookies {
    width: 100%;
    height: 101%;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    background-color: var(--background);
}

#splash {
    animation: fadein-page 1s;
    z-index: -1;
    opacity: 0%;
    transform: translate(-50%, -50%);
}

#cookies {
    z-index: 1000;
    display: none;
    height: fit-content;
    width: 50%;
    padding: 20px;
    border-radius: 20px;
    border: #005EB8 solid 5px;
    transform: translate(-50%, -70%);
    color: var(--fontdark);
    transition: 0.5s;
}

#cookies button {
    background-color: #005EB8;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 1.2em;
    padding: 10px;
    color: var(--fontlight);
    min-width: 180px;
}

#cookies button:hover {
    background-color: #5daaf3;
}

.progressBar {
    width: 200px;
    height: 10px;
    border-radius: 5px;
    color: #005EB8;
    position: relative;
    margin: auto;
    margin-top: -20px;
}

.progressBar::before {
    content: "";
    position: absolute;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: currentColor;
    animation: progress-bar 0.5s;
}

@keyframes progress-bar {
    100% {
        inset: 0
    }
}

@keyframes fadein-page {
    0% {
        opacity: 100%;
        display: block;
        z-index: 9999;
    }

    50% {
        opacity: 100%;
        display: block;
        z-index: 9999;
    }

    75% {
        opacity: 0%;
        display: none;
        z-index: -1;
    }

    100% {
        opacity: 0%;
        display: none;
        z-index: -1;
    }
}

/*#endregion*/

/*#region SIDEBAR*/
.summon {
    display: block;
    position: fixed;
    width: 30px;
    height: 40px;
    line-height: 42px;
    border-radius: 0 15px 15px 0;
    border: solid 1px #2c2c2c;
    border-left-style: none;
    background-color: #005EB8;
    padding: 5px 0 5px 0;
    text-align: center;
    top: 10px;
    left: 0;
    transition: 0.3s;
    cursor: pointer;
    color: var(--fontlight);
    z-index: 2;
    font-size: 1.3em;
}

#sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #2c2c2c;
    transition: 0.3s;
    overflow-x: hidden;
    color: var(--fontlight);
}

#closeside {
    font-size: 30px;
    color: var(--fontlight);
    padding: 5px;
}

#closeside-td {
    width: fit-content;
}

#sidebar-logo {
    left: 0;
    max-width: 200px;
    margin: auto;
}

.sidebar-list {
    list-style: none;
    padding: 0;
}

.sidebar-list .sidebar-link {
    color: var(--fontlight);
    text-decoration: none;
    font-size: 1.5em;
    padding: 8px 0 8px 15px;
    width: 100%;
    display: block;
    z-index: inherit;
    transition: 0.2s;
}

.sidebar-list .sidebar-link:hover {
    background-color: #005EB8;
    color: #ffffff;
    transform: scale(1.03);
    z-index: 4;
}

.index-tab {
    font-size: 2.5em;
    padding: 30px;
    border: solid #2c2c2c 5px;
}

/*#endregion*/

/*#region CONTENTS*/
.section-text {
    background-color: var(--backgroundsecondary);
    padding: 3px 2% 3px 2%;
    border-radius: 20px;
    margin: 15px 0 15px 0;
    text-align: left;
}

.section-inner {
    background-color: var(--backgroundtertiary);
    padding: 10px;
    border-radius: 20px;
}

/*#endregion*/

/*#region SERVICE GRID*/
.service-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 100%;
}

.service-grid-column {
    flex: 49%;
    text-align: center;
    height: fit-content;
    min-height: 100%;
    justify-content: space-between;
}

.service-grid-column img {
    vertical-align: middle;
    position: relative;
    max-width: 90%;
    background-color: var(--backgroundsecondary);
    border-radius: 20px;
}

.hoverable {
    transition: 0.2s;
}

.service-grid .hoverable:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 5px 5px #5daaf3;
    z-index: 1;
    cursor: pointer;
}

.service-grid-text {
    position: relative;
    text-align: left;
    padding: 5px;
}

.service-tab {
    padding: 20px;
}

/*#endregion*/

/*#region POSTMAIL*/
.postmail-form {
    text-align: center;
}

.formline {
    font-size: 1em;
    max-width: 100%;
}

.mark-required {
    color: orange;
    background-color: inherit;
}

/*#endregion*/

/*#region FLIPCARDS*/
.flip-card {
    background-color: transparent;
    width: 220px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid #2c2c2c;
    border-radius: 20px;
}

.flip-card-front {
    background-color: var(--backgroundtertiary);
}

.flip-card-back {
    background-color: #005EB8;
    transform: rotateY(180deg);
    color: var(--fontlight);
}

.flip-card img {
    padding: 5px;
    background-color: inherit;
}

.flip-card-back p, .flip-card-front p {
    padding: 0px 5px 5px 5px;
}
/*#endregion*/

/*#region SUPPORT*/
.os-header {
    background-color: var(--backgroundsecondary);
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
}

.os-support {
    display: none;
}

.os-selector-active,
.os-selector-inactive {
    border: #005EB8 solid 2px;
    border-radius: 5px;
    font-size: 1.2em;
    font-family: inherit;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    min-width: 150px;
    margin-top: 10px;
}

.os-selector-inactive {
    background-color: inherit;
    color: var(--fontdark);
}

.os-selector-inactive:hover {
    background-color: #5daaf3;
}

.os-selector-active {
    background-color: #005EB8;
    color: var(--fontlight);
}

/*#endregion*/

/*#region ABOUT*/
.biotab
{
    margin-bottom: 5px;
    max-width: 220px;
    border-radius: 20px;
}
/*#endregion*/

/*#region MISC*/
.list-links {
    list-style: none;
}

.list-links li {
    padding: 3px;
    margin: 10px;
    font-size: 1.2em;
    display: inline;
}

.process-list li {
    padding: 5px;
    margin: 5px;
    background-color: var(--backgroundtertiary);
    border-radius: 5px;
}

.process-list li ul li {
    padding: 1px;
}

#dev-process {
    display: none;
}

.sitemap-list {
    padding: 5px;
    list-style-type: "»";
}

.sitemap-list ul {
    list-style-type: "»";
    margin-left: -1em;
}

/*#endregion*/

/*#region SCALING*/
@media only screen and (max-width: 450px) {
    .list-links li {
        display: block;
        position: relative;
        text-align: left;
    }

    .section-text h2 {
        text-align: center;
    }
}

@media only screen and (max-width: 800px) {
    .head-content {
        text-align: center;
        font-size: 1.9em;
    }
}

@media only screen and (min-width: 800px) {
    .head-content {
        padding: 0 3% 0 3%;
    }
}

@media only screen and (min-width: 900px) {
    .head-content {
        font-size: 3em;
    }
}

@media only screen and (min-width: 2000px) {
    p, li {
        font-size: 1.5em;
    }

    .flip-card {
        width: 350px;
    }

    .biotab {
        max-width: 350px;
    }

    .biotab p {
        font-size: 1.3em;
    }

    h3 {
        font-size: 1.7em;
    }

    h2 {
        font-size: 2.0em;
    }

    h1 {
        font-size: 3em;
    }

}

@media only screen and (max-width: 1000px) {
    .service-grid-column {
        flex: 100%;
    }

    .mobile-lessgap {
        margin-top: -20px;
    }
}

/*#endregion*/